In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'./adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
df4 = df1['native-country'].value_counts().index.tolist()[0]
#df5 = df1['native-country'].value_counts()[0]
df4

In [38]:
df6 = df1[df1['native-country'] == 'India']
df7 = df6['occupation'].value_counts().index.tolist()[0]
df7

'Prof-specialty'

In [66]:
num_min_workers = (df[(df['hours-per-week'] == 1)].shape[0])
num_min_workers

20

In [19]:
df25 = df.loc[(df['salary'] == '>50K')].shape[0]
df25

7841

In [21]:
bach = df.loc[(df['education'] == 'Bachelors') | (df['education'] =='Masters') | (df['education'] =='Doctorate')].shape[0]
bach

7491

In [17]:
df1 = (df[(~df.education.isin(['Bachelors','Masters',  'Doctorate'])) & (df.salary == '>50K')]).shape[0]
df1

4355

In [22]:
drc = (df[(df.education.isin(['Bachelors','Masters',  'Doctorate'])) & (df.salary == '>50K')].shape[0])
drc

3486

In [8]:
higher_education = (df[(df.education.isin(['Bachelors','Masters',  'Doctorate'])) & (df.salary == '>50K')].shape[0])
higher_education

3486

In [23]:
ss = round((drc/bach * 100), 1)
ss

46.5

In [74]:
df3 = (df[(~df.education.isin(['Bachelors','Masters',  'Doctorate'])) & (df.salary == '>50K')].shape[0])
df3

4355

In [85]:
import pandas as pd


def calculate_demographic_data(print_data=True):
    # Read data from file
    df = pd.read_csv(r'../demographic analyzer/adult.data.csv')

    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = df['race'].value_counts()

    # What is the average age of men?
    average_age_men = men.loc[df['sex'] == 'Male', 'age'].mean()

    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors = round((((df.loc[df['education'] == 'Bachelors'].shape[0]) / (df.shape[0]))* 100), 1)

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`
    df1 = df.loc[(df['education'] == 'Bachelors') | (df['education'] =='Masters') | (df['education'] =='Doctorate')].shape[0]
    df2 = df.loc[(df['salary'] == '<=50K')].shape[0]
    higher_education = (df[(df.education.isin(['Bachelors','Masters',  'Doctorate'])) & (df.salary == '>50K')].shape[0])
    lower_education = (df[(~df.education.isin(['Bachelors','Masters',  'Doctorate'])) & (df.salary == '>50K')].shape[0])

    # percentage with salary >50K
    higher_education_rich = round((higher_education / df1 * 100), 1)
    lower_education_rich = round((lower_education / df2 * 100), 1)

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = df['hours-per-week'].min()

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    num_min_workers = (df[(df['hours-per-week'] == 1)]).shape[0]

    rich_percentage = round((num_min_workers / df[(df['hours-per-week'] == 1) & (df.salary == '>50K')].shape[0]), 1)

    # What country has the highest percentage of people that earn >50K?
    df3 = df.loc[(df['salary'] == '>50K')]
    highest_earning_country = df1['native-country'].value_counts().index.tolist()[0]
    highest_earning_country_percentage = round((df1['native-country'].value_counts()[0] / df1.shape[0]) *100, 1)

    # Identify the most popular occupation for those who earn >50K in India.
    df4 = df3[df3['native-country'] == 'India']
    top_IN_occupation = df4['occupation'].value_counts().index.tolist()[0]

In [87]:

if print_data:
    print("Number of each race:\n", race_count) 
    print("Average age of men:", average_age_men)
    print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
    print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
    print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
    print(f"Min work time: {min_work_hours} hours/week")
    print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
    #print("Country with highest percentage of rich:", highest_earning_country)
    #print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
    #print("Top occupations in India:", top_IN_occupation)

return {
    'race_count': race_count,
    'average_age_men': average_age_men,
    'percentage_bachelors': percentage_bachelors,
    'higher_education_rich': higher_education_rich,
    'lower_education_rich': lower_education_rich,
    'min_work_hours': min_work_hours,
    'rich_percentage': rich_percentage,
    'highest_earning_country': highest_earning_country
    #'highest_earning_country_percentage': highest_earning_country_percentage,
    #'top_IN_occupation': top_IN_occupation
    }

NameError: name 'print_data' is not defined