In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'./adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [9]:
df8 = round((df4/df7 *100), 1)
df8

?                             25.0
Cambodia                      36.8
Canada                        32.2
China                         26.7
Columbia                       3.4
Cuba                          26.3
Dominican-Republic             2.9
Ecuador                       14.3
El-Salvador                    8.5
England                       33.3
France                        41.4
Germany                       32.1
Greece                        27.6
Guatemala                      4.7
Haiti                          9.1
Holand-Netherlands             NaN
Honduras                       7.7
Hong                          30.0
Hungary                       23.1
India                         40.0
Iran                          41.9
Ireland                       20.8
Italy                         34.2
Jamaica                       12.3
Japan                         38.7
Laos                          11.1
Mexico                         5.1
Nicaragua                      5.9
Outlying-US(Guam-USVI-etc)     NaN
Peru                           6.5
Philippines                   30.8
Poland                        20.0
Portugal                      10.8
Puerto-Rico                   10.5
Scotland                      25.0
South                         20.0
Taiwan                        39.2
Thailand                      16.7
Trinadad&Tobago               10.5
United-States                 24.6
Vietnam                        7.5
Yugoslavia                    37.5
Name: native-country, dtype: float64

In [19]:
df10 = round((df3['native-country'].value_counts() / df['native-country'].value_counts() *100), 1)

?                             25.0
Cambodia                      36.8
Canada                        32.2
China                         26.7
Columbia                       3.4
Cuba                          26.3
Dominican-Republic             2.9
Ecuador                       14.3
El-Salvador                    8.5
England                       33.3
France                        41.4
Germany                       32.1
Greece                        27.6
Guatemala                      4.7
Haiti                          9.1
Holand-Netherlands             NaN
Honduras                       7.7
Hong                          30.0
Hungary                       23.1
India                         40.0
Iran                          41.9
Ireland                       20.8
Italy                         34.2
Jamaica                       12.3
Japan                         38.7
Laos                          11.1
Mexico                         5.1
Nicaragua                      5.9
Outlying-US(Guam-USVI-etc)     NaN
Peru                           6.5
Philippines                   30.8
Poland                        20.0
Portugal                      10.8
Puerto-Rico                   10.5
Scotland                      25.0
South                         20.0
Taiwan                        39.2
Thailand                      16.7
Trinadad&Tobago               10.5
United-States                 24.6
Vietnam                        7.5
Yugoslavia                    37.5
Name: native-country, dtype: float64

In [21]:
df9 = df10.max()
df9

41.9

In [5]:
df3 = df.loc[(df['salary'] == '>50K')]
df4 = df3['native-country'].value_counts()
#df5 = df1['native-country'].value_counts()[0]
df4

United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Italy                   25
Cuba                    25
Japan                   24
Taiwan                  20
China                   20
Iran                    18
South                   16
Puerto-Rico             12
Poland                  12
France                  12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Hong                     6
Yugoslavia               6
Ireland                  5
Vietnam                  5
Portugal                 4
Haiti                    4
Ecuador                  4
Thailand                 3
Hungary                  3
Guatemala                3
Scotland                 3
Nicaragua                2
Trinadad&Tobago          2
Laos                     2
Columbia                 2
Dominican-Republic       2
Peru                     2
Honduras                 1
Name: native-country, dtype: int64

In [6]:
df5 = df.loc[(df['salary'] == '<=50K')]
df6 = df5['native-country'].value_counts()
df6

United-States                 21999
Mexico                          610
?                               437
Philippines                     137
Puerto-Rico                     102
El-Salvador                      97
Germany                          93
Canada                           82
Jamaica                          71
Cuba                             70
Dominican-Republic               68
South                            64
Vietnam                          62
Guatemala                        61
India                            60
England                          60
Columbia                         57
China                            55
Poland                           48
Italy                            48
Haiti                            40
Japan                            38
Portugal                         33
Nicaragua                        32
Taiwan                           31
Peru                             29
Iran                             25
Ecuador                          24
Greece                           21
Ireland                          19
Trinadad&Tobago                  17
France                           17
Laos                             16
Thailand                         15
Hong                             14
Outlying-US(Guam-USVI-etc)       14
Cambodia                         12
Honduras                         12
Yugoslavia                       10
Hungary                          10
Scotland                          9
Holand-Netherlands                1
Name: native-country, dtype: int64

In [38]:
df6 = df1[df1['native-country'] == 'India']
df7 = df6['occupation'].value_counts().index.tolist()[0]
df7

'Prof-specialty'

In [66]:
num_min_workers = (df[(df['hours-per-week'] == 1)].shape[0])
num_min_workers

20

In [19]:
df25 = df.loc[(df['salary'] == '>50K')].shape[0]
df25

7841

In [21]:
bach = df.loc[(df['education'] == 'Bachelors') | (df['education'] =='Masters') | (df['education'] =='Doctorate')].shape[0]
bach

7491

In [17]:
df1 = (df[(~df.education.isin(['Bachelors','Masters',  'Doctorate'])) & (df.salary == '>50K')]).shape[0]
df1

4355

In [22]:
drc = (df[(df.education.isin(['Bachelors','Masters',  'Doctorate'])) & (df.salary == '>50K')].shape[0])
drc

3486

In [ ]:
df2 = df.loc[(df['salary'])].shape[0]
higher_education = (df[(df.education.isin(['Bachelors','Masters',  'Doctorate'])) & (df.salary == '>50K')].shape[0])
lower_education = (df[(~df.education.isin(['Bachelors','Masters',  'Doctorate'])) & (df.salary == '>50K')].shape[0])
lower_education_rich = round((lower_education / df2 * 100), 1)
lower_education_rich

In [8]:
higher_education = (df[(df.education.isin(['HS-grad', '11th','9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'])) & (df.salary == '>50K')].shape[0])
higher_education

4355

In [23]:
df4 =

46.5

In [74]:
df3 = (df[(~df.education.isin(['Bachelors','Masters',  'Doctorate'])) & (df.salary == '>50K')].shape[0])
df3

4355

In [85]:
import pandas as pd


def calculate_demographic_data(print_data=True):
    # Read data from file
    df = pd.read_csv(r'../demographic analyzer/adult.data.csv')

    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = df['race'].value_counts()

    # What is the average age of men?
    average_age_men = men.loc[df['sex'] == 'Male', 'age'].mean()

    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors = round((((df.loc[df['education'] == 'Bachelors'].shape[0]) / (df.shape[0]))* 100), 1)

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`
    df1 = df.loc[(df['education'] == 'Bachelors') | (df['education'] =='Masters') | (df['education'] =='Doctorate')].shape[0]
    df2 = df.loc[(df['salary'] == '<=50K')].shape[0]
    higher_education = (df[(df.education.isin(['Bachelors','Masters',  'Doctorate'])) & (df.salary == '>50K')].shape[0])
    lower_education = (df[(~df.education.isin(['Bachelors','Masters',  'Doctorate'])) & (df.salary == '>50K')].shape[0])

    # percentage with salary >50K
    higher_education_rich = round((higher_education / df1 * 100), 1)
    lower_education_rich = round((lower_education / df2 * 100), 1)

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = df['hours-per-week'].min()

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    num_min_workers = (df[(df['hours-per-week'] == 1)]).shape[0]

    rich_percentage = round((num_min_workers / df[(df['hours-per-week'] == 1) & (df.salary == '>50K')].shape[0]), 1)

    # What country has the highest percentage of people that earn >50K?
    df3 = df.loc[(df['salary'] == '>50K')]
    df4 = round((df3['native-country'].value_counts() / df['native-country'].value_counts() *100), 1)
    highest_earning_country = df4.idxmax()
    highest_earning_country_percentage = df.max()

    # Identify the most popular occupation for those who earn >50K in India.
    df5 = df3[df3['native-country'] == 'India']
    top_IN_occupation = df5['occupation'].value_counts().index.tolist()[0]

In [ ]:

if print_data:
    print("Number of each race:\n", race_count) 
    print("Average age of men:", average_age_men)
    print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
    print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
    print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
    print(f"Min work time: {min_work_hours} hours/week")
    print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
    #print("Country with highest percentage of rich:", highest_earning_country)
    #print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
    #print("Top occupations in India:", top_IN_occupation)

return {
    'race_count': race_count,
    'average_age_men': average_age_men,
    'percentage_bachelors': percentage_bachelors,
    'higher_education_rich': higher_education_rich,
    'lower_education_rich': lower_education_rich,
    'min_work_hours': min_work_hours,
    'rich_percentage': rich_percentage,
    'highest_earning_country': highest_earning_country
    #'highest_earning_country_percentage': highest_earning_country_percentage,
    #'top_IN_occupation': top_IN_occupation
    }